# API keys and secrets
.env

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Ignore docs
src/public/docs/*

# Logs
logs/*.log

# Other
Dockerfile-e

.idea